
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {

    --couleur-arriere-entete : #ffffff;
    --couleur-arriere-accueil: rgb(106, 127, 178)fff;
    --couleur-arriere-evenement : #8e2c2c;
    --couleur-arriere-footer : #0bc327;
    --couleur-arriere-galerie : #492a3a;
--border-central: border : 1px solid #aaa;
    --largeur-central : flex: 0 1 900px;
}



